services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
      target: release
    container_name: sun-bot
    restart: always
    environment:
      - NODE_ENV=production
      - TOKEN=${TOKEN}
      - DBPASSWORD=${DBPASSWORD}
      - ARCANEDBPASSWORD=${ARCANEDBPASSWORD}
      - OPENAIKEY=${OPENAIKEY}
      - ENVIRONMENT=${ENVIRONMENT}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"